.nav {
  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }
}

//**************************************//
//************  1200 *******************//
//**************************************//
@media (max-width: 1200px) {
  .nav {
    &__item:first-child {
      display: none;
      margin-right: 0;
    }
  }
}

//**************************************//
//************  576 *******************//
//**************************************//
@media (max-width: 576px) {
}
