.container {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
	padding-left: 80px;
	padding-right: 80px;
	overflow: hidden;
}


//**************************************//
//************  1200 *******************//
//**************************************//
@media (max-width: 1200px) {}

//**************************************//
//************  922 *******************//
//**************************************//
@media (max-width: 922px) {}

//**************************************//
//************  768 *******************//
//**************************************//
@media (max-width: 768px) {}

//**************************************//
//************  576 *******************//
//**************************************//
@media (max-width: 576px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

//**************************************//
//************  320 *******************//
//**************************************//
@media (max-width: 375px) {}